/* utility class */
.bgc_dblue{
    background-color: rgba(44, 62, 80, 1);
}
.bgc_aqua{
    background-color: rgba(26, 188, 156, 1);
}
.bgc_lblue{
    background-color: rgba(58, 84, 109, 1);
}
.txc_dblue{
    color: rgba(44, 62, 80, 1);
}
.txc_aqua{
    color: rgba(30, 179, 151, 1);
}

/* HEADER style */
/* navbar style */
.p_navbar{
    text-transform: uppercase;
    color: white;
}
.nav-item>a{
    color: white;
}
/* jumbotron style */
.p_jumbotron{
    text-align: center;
    color: white;
    border-radius: 0%;
}
.jumbo_img{
    width: 30%;
}
.p_jumbotron span::after, .p_jumbotron span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid white;
    margin: auto;
}
.p_jumbotron ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
/* portfolio section */
/* title */
.portfolio span::after, .portfolio span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid  rgba(44, 62, 80, 1);
    margin: auto;
}
/* portfolio gallery */
.portfolio img{
    width: 100%;
    border-radius: 8px;
}

/* about section */
.about{
    text-align: center;
    color: white;
}
.about span::after, .about span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid white;
    margin: auto;
}

/* contact section */
/* contact title style */
.contact span::after, .contact span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid  rgba(44, 62, 80, 1);
    margin: auto;
}

/* FOOTER STYLE */
.icon_cont{
    margin: 0 5px;
    position: relative;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.icon_cont>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.copyright{
    font-size: 10px;
}