/* utility class */
.bgc_dblue{
    background-color: rgba(44, 62, 80, 1);
}
.bgc_aqua{
    background-color: rgba(26, 188, 156, 1);
}
.bgc_lblue{
    background-color: rgba(58, 84, 109, 1);
}
.txc_dblue{
    color: rgba(44, 62, 80, 1);
}

/* HEADER style */
/* navbar style */
.p_navbar{
    text-transform: uppercase;
    color: white;
}
.nav-item>a{
    color: white;
}
/* jumbotron style */
.p_jumbotron{
    text-align: center;
    color: white;
}
.jumbo_img{
    width: 35%;
}
.p_jumbotron span::after, .p_jumbotron span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid white;
    margin: auto;
}
.p_jumbotron ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
/* portfolio section */
/* title */
.portfolio span::after, .portfolio span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid  rgba(44, 62, 80, 1);
    margin: auto;
}
/* portfolio gallery */
.portfolio img{
    width: 100%;
    border-radius: 8px;
}

/* about section */
.about{
    text-align: center;
    color: white;
}
.about span::after, .about span::before{
    content: "";
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border-bottom: 4px solid white;
    margin: auto;
}